<div class="calendar-container">
    <full-calendar [options]="calendarOptions"></full-calendar>

    @if (selectedSession) {
    <div class="modal" (click)="closeModal()">
        <div class="modal-content" (click)="$event.stopPropagation()">
            <span class="close" (click)="closeModal()">&times;</span>
            <h2>{{ selectedSession.title }}</h2>
            <p><strong>Datum:</strong> {{ selectedSession.date }}</p>
            <p><strong>Detaljer:</strong> {{ selectedSession.details }}</p>
        </div>
    </div>
    }

    @if (showAddTrainingModal) {
    <div class="modal" (click)="closeAddTrainingModal()" (touchend)="closeAddTrainingModal()">
        <div class="modal-content" (click)="$event.stopPropagation()" (touchend)="$event.stopPropagation()">
            <span class="close" (click)="closeAddTrainingModal()" (touchend)="closeAddTrainingModal()">&times;</span>
            <h3>Lägg till nytt träningspass</h3>
            <p><strong>Datum:</strong> {{ selectedDate }}</p>
            <article class="input-field">
                <input class="trainingSession-input" type="text" [(ngModel)]="newTrainingTitle" placeholder="Titel">
                <textarea class="trainingSession-input" [(ngModel)]="newTrainingDetails"
                    placeholder="Beskriv träningen"></textarea>
                <button class="add-btn" (click)="addTraining()" (touchend)="addTraining()">Lägg till</button>
            </article>
        </div>
    </div>
    }
</div>