<div class="container">

    <div ngClass="profile-card no-dog" *ngIf="dogs.length === 0" class="no-dogs-message">
        <p>Ingen hund registrerad ännu.</p>
    </div>

    <div class="header" *ngIf="activeDog">

        <div class="picture">
            <img [src]="getDogImage(activeDog.imageUrl)" [alt]="activeDog.name" class="dog-profile-pic">
        </div>
        <form class="select__dog-form" [formGroup]="dogForm">
            <mat-form-field appearance="outline" class="no-outline" matTooltip="Välj en hund"
                matTooltipPosition="right">
                <mat-select formControlName="selectedDog" (selectionChange)="selectDog($event.value)">
                    <mat-option *ngFor="let dog of dogs" [value]="dog._id">
                        {{ dog.nickname }}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </form>
    </div>


    <!-- Profilkort -->
    <div class="profile-card" *ngIf="activeDog">
        <nav class="profile__card-icons">
            <span class="profile__card-icons-flex">
                <mat-icon matTooltip="Edit" matTooltipPosition="above" (click)="toggleEditMode()">
                    edit
                </mat-icon>
            </span>
        </nav>

        <ul>
            <li class="list-info" *ngFor="let field of profileFields">
                <div class="label-container">
                    <strong>{{ field.label }}:</strong>
                </div>
                <div class="input-container">
                    <span *ngIf="!editMode">{{ activeDog[field.key] }}</span>
                    <mat-form-field *ngIf="editMode" appearance="outline">
                        <input matInput [(ngModel)]="activeDog[field.key]">
                    </mat-form-field>
                </div>
            </li>

            <div class="button-group" *ngIf="editMode">
                <button class="profile__edit--button" mat-raised-button color="primary" (click)="saveChanges()">
                    <mat-icon>check</mat-icon> Spara
                </button>
                <button mat-raised-button color="warn" (click)="cancelEdit()">
                    <mat-icon>close</mat-icon> Avbryt
                </button>
            </div>
        </ul>
    </div>

    <button class="add-dog" (click)="openAddDogModal()" matTooltip="Lägg till hund" matTooltipPosition="below">Lägg till
        hund</button>


    <!-- <div class="training-card" *ngIf="latestTraining">
        <h2 class="training-card__name">{{ activeDog?.nickname }}s senaste träningspass</h2>
        <p><strong>Typ:</strong> {{ latestTraining.type }}</p>
        <p><strong>Anteckningar:</strong><br> {{ latestTraining.notes }}</p>
        <div class="training-detail rating-stars">
            <app-rating [rating]="latestTraining.rating" [max]="5" [showValue]="true"></app-rating>
        </div>
        <p><strong>Datum:</strong> {{ latestTraining.createdAt | date: 'yyyy-MM-dd HH:mm' }}</p>
    </div>
    <div class="training-card" *ngIf="!latestTraining">
        <p>Inget träningspass registrerat för {{ activeDog?.nickname }} ännu.</p>
    </div>
 -->

    <app-latest-training [training]="latestTraining" [dogName]="activeDog?.nickname">
    </app-latest-training>




    <div class="profile-card weight-tracking">
        <h2>Spåra {{ activeDog?.nickname }}s vikt</h2>
        <h3 class="weight-value">28.09 kg</h3>
        <button class="btn">+ Lägg till vikt</button>
    </div>


    <!-- Modal för att lägga till en ny hund -->
    <div *ngIf="showAddDogModal" class="modal">
        <div class="modal-content">
            <span class="close" (click)="closeAddDogModal()">&times;</span>
            <h2 class="modal-heading">Lägg till en ny hund</h2>

            <form (ngSubmit)="addDog()" #dogForm="ngForm">
                <mat-form-field class="margin-bottom" appearance="outline">
                    <mat-label>Namn</mat-label>
                    <input matInput [(ngModel)]="newDog.name" name="name" required>
                </mat-form-field>

                <mat-form-field class="margin-bottom" appearance="outline">
                    <mat-label>Smeknamn</mat-label>
                    <input matInput [(ngModel)]="newDog.nickname" name="nickname">
                </mat-form-field>

                <mat-form-field class="margin-bottom" appearance="outline">
                    <mat-label>Ras</mat-label>
                    <input matInput [(ngModel)]="newDog.breed" name="breed" required>
                </mat-form-field>

                <mat-form-field class="margin-bottom" appearance="outline">
                    <mat-label>Ålder</mat-label>
                    <input matInput type="number" [(ngModel)]="newDog.age" name="age" required>
                </mat-form-field>

                <mat-form-field class="margin-bottom" appearance="outline">
                    <mat-label>Kön</mat-label>
                    <mat-select class="font-size" [(ngModel)]="newDog.sex" name="sex" required>
                        <mat-option value="male">Hane</mat-option>
                        <mat-option value="female">Tik</mat-option>
                    </mat-select>
                </mat-form-field>


                <div class="file-upload">
                    <label for="fileInput">Välj bild</label>
                    <input class="file-input" id="fileInput" type="file" (change)="onFileSelected($event)"
                        accept="image/*">
                    <span *ngIf="selectedFile" class="file-name">{{ selectedFile.name }}</span>
                </div>



                <div class="button-group">
                    <button mat-raised-button color="primary" type="submit">
                        <mat-icon>check</mat-icon> Spara
                    </button>
                    <button mat-raised-button color="warn" type="button" (click)="closeAddDogModal()">
                        <mat-icon>close</mat-icon> Avbryt
                    </button>
                </div>
            </form>
        </div>
    </div>





</div>