<section class="Login__section">
    <div class="auth-container">

        <p *ngIf="successMessage" class="success-message">{{ successMessage }}</p>

        <h1 *ngIf="!isRegistering">Logga in</h1>
        <h2 *ngIf="isRegistering">Registrera dig</h2>

        <!--  Inloggningsform -->
        <form class="login__form" *ngIf="!isRegistering" (ngSubmit)="login()">
            <input type="email" [(ngModel)]="email" name="email" placeholder="E-post" required>
            <input type="password" [(ngModel)]="password" name="password" placeholder="Lösenord" required>
            <button type="submit">Logga in</button>
        </form>

        <!--  Registreringsform -->
        <form class="login__form" *ngIf="isRegistering" (ngSubmit)="register()">
            <input type="text" [(ngModel)]="username" name="username" placeholder="Användarnamn" required>
            <input type="email" [(ngModel)]="email" name="email" placeholder="E-post" required>
            <input type="password" [(ngModel)]="password" name="password" placeholder="Lösenord" required>
            <button type="submit">Registrera</button>
        </form>

        <article class="toggle-text--container">
            <p class="toggle-text" (click)="toggleForm()">
                {{ isRegistering ? 'Har du redan ett konto? Logga in' : 'Har du inget konto? Registrera dig' }}
            </p>
        </article>
    </div>
</section>