<nav class="bottom-nav">
    <a routerLink="/home" routerLinkActive="active">
        <mat-icon>home</mat-icon>
        <span>Hem</span>
    </a>

    <a routerLink="/tracking" routerLinkActive="active">
        <mat-icon>sports_baseball</mat-icon>
        <span>Träning</span>
    </a>

    <a routerLink="/history" routerLinkActive="active">
        <mat-icon>history</mat-icon>
        <span>Historik</span>
    </a>

    <a routerLink="/profile" routerLinkActive="active">
        <mat-icon>account_circle</mat-icon>
        <span>Profil</span>
    </a>
</nav>