.hamburger-menu {
    width: 40px;
    height: 40px;
    border: none;
    border-radius: 50%;
    background-color: #ff8c42;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s, transform 0.2s;
}

.hamburger-menu:hover {
    background-color: #ffb6c1;
    transform: scale(1.1);
}

.hamburger-menu mat-icon {
    font-size: 25px;
    line-height: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}


.side-menu {
    position: absolute !important;
    top: 0;
    left: -250px;
    width: 250px;
    height: 100vh;
    background-color: white;
    border-radius: 0 10px 0 0;
    opacity: 1 !important;
    box-shadow: 2px 0px 5px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    padding-top: 20px;
    transition: left 0.3s ease-in-out;
    z-index: 999999 !important;
}

.side-menu a {
    text-decoration: none;
    color: rgb(51, 49, 49);
    font-size: 16px;
    padding: 15px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.side-menu a mat-icon {
    font-size: 24px;
    /* color: var(--primary-color); */
}

.side-menu.open {
    left: 0;
}

.close-menu {
    background: none;
    border: none;
    color: black;
    font-size: 25px;
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}

.close-menu mat-icon {
    font-size: 30px;
}

.logout {
    display: flex;
    align-items: center;
    padding: 10px;
    color: red !important;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
}