@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');

:root {
    --bg-peach: #fde6d2;
    --bg-light-blue: #d6f0f5;
    --primary-color: #ff8c42;
    --text-dark: #333;
    --text-light: #777;
}

/* 
:root {
    --green-color: #72795B;

    --brown-color: #865E3E;

    --beige-color: #E3D4B4;

    --blue-color: #4A7390;

    --white-color: #FFF;

    --orange-color: #E56110;

} */


html,
body {
    box-sizing: border-box;
    height: 100vh;
    margin: 0;
    font-family: Poppins, sans-serif;
    display: flex;
    flex-direction: column;
    /* background-color: #72795B; */
}

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: poppins, sans-serif;
}

.mat-mdc-form-field-subscript-wrapper {
    display: none !important;
    /* 🔥 DÖDAR den helt */
    height: 0px !important;
    padding: 0px !important;
    margin: 0px !important;
}