<section class="training-modal">
    <div class="test">
        <button mat-icon-button class="training__close-btn" (click)="closeModal()">
            <mat-icon>close</mat-icon>
        </button>
    </div>

    <h2 class="training__heading">Lägg till träningspass</h2>

    <form class="training__form" [formGroup]="trainingForm" (ngSubmit)="submitTraining()">
        <div class="training__form-group">
            <mat-form-field appearance="outline" class="training__field">
                <mat-label>Välj hund</mat-label>
                <mat-select formControlName="dog">
                    <mat-option *ngFor="let dog of dogs" [value]="dog._id">
                        {{ dog.nickname }}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>

        <div class="training__form-group">
            <mat-form-field appearance="outline" class="training__field">
                <mat-label>Typ av träning</mat-label>
                <mat-select formControlName="type">
                    <mat-option *ngFor="let type of trainingTypes" [value]="type">
                        {{ type }}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>

        <div class="training__form-group">
            <mat-form-field appearance="outline" class="training__field">
                <mat-label>Beskrivning</mat-label>
                <textarea matInput formControlName="notes" rows="3"></textarea>
            </mat-form-field>
        </div>

        <div class="training__form-group">
            <mat-form-field appearance="outline" class="training__field">
                <mat-label>Datum</mat-label>
                <input matInput [matDatepicker]="picker" formControlName="date">
                <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
        </div>

        <div class="training__form-group">
            <mat-form-field appearance="outline" class="training__field">
                <mat-label>Betyg (1-5)</mat-label>
                <input matInput type="number" formControlName="rating" min="1" max="5">
            </mat-form-field>
        </div>

        <div class="training__actions">
            <button mat-raised-button color="primary" class="training__submit" type="submit"
                [disabled]="trainingForm.invalid">
                Lägg till pass
            </button>
        </div>
    </form>
</section>