<footer class="app-footer">
    <div class="footer-content">
        <div class="footer-brand">
            <h3>Retriever Tracker</h3>
            <p>Apporterandehundar. Jakt. Funktion.</p>
        </div>

        <div class="footer-links">
            <a href="/home">Start</a>
            <a href="mailto:info@retrievertracker.se">Kontakt</a>
            <a href="https://ssrk.se/" target="_blank">Ssrk</a>
            <a href="https://skkstart.se/" target="_blank">SKK Start</a>
        </div>

        <div class="footer-contact">
            <p>© 2025 Retriever Tracker</p>
            <p>info&#64;retrievertracker.se</p>
        </div>
    </div>
</footer>